# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class
.ipynb_checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# additional folders/files
Mappings/
*.bin
.ipynb_checkpoints/
.ipynb_checkpoints
.idea
.idea/
.idea*
.idea/*


